#parent{
    border: 4px solid red;
    padding: 10px;
}

.child{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 2px solid green;
}
#parent > p{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px solid green;
}

#right{
    float: right;
}